<section class="config">

    <ul>
        <li>
            <div>
                <h3> Stop Win </h3>
                <p> Valor máximo de ganho por dia </p>
            </div>
            <input id = "stopWin" type="text" placeholder="R$0,00" 
                oninput = "moneyFormatter(this)">
        </li>
        <li>
            <div>
                <h3> Stop Loss </h3>
                <p> Valor máximo de perda por dia </p>
            </div>
            <input id = "stopLoss" type="text" placeholder="R$0,00" oninput = "moneyFormatter(this)">
        </li>
        <li>
            <div>
                <h3> Máximo de operações </h3>
                <p> Máximo de operações simultâneas </p>
            </div>
            <input id = "maxBet" type="text" placeholder="Ex: 4" oninput = "intFormatter(this)">
        </li>
        <li>
            <div>
                <h3> Máximo de tempo </h3>
                <p> Tempo de partida mínimo para se operar </p>
            </div>
            <input id = "maxTime" type="text" placeholder="Ex: 45" oninput = "intFormatter(this)">
        </li>
        <li>
            <div>
                <h3> Odd mínimo </h3>
                <p> Valor multiplicativo mínimo para uma aposta </p>
            </div>
            <input id = "minOdd" type="text" placeholder="Ex: 1.5" oninput = "floatFormatter(this)">
        </li>
        <li class = "gols">
            <div>
                <h3> Filtro de gols </h3>
                <p> Quantos gols são necessários para se operar </p>
            </div>
            <div>
                <h3 for="golsFilter"> Ativar filtro </h3>
                <input type="checkbox" name="golsFilter" id="golsFilter">
            </div>
            <div class = "between">
                <input id = "golsFilter1" type="text" placeholder="Casa" oninput = "intFormatter(this)">
                X
                <input id = "golsFilter2" type="text" placeholder="Visitante" oninput = "intFormatter(this)">
            </div>
        </li>
    </ul>

</section>

<script>
    function changeInputValue(id, value) {
        document.getElementById(id).value = value;
    }
    function load_config() { 
        const account = JSON.parse(localStorage.getItem('account'));

        changeInputValue("stopWin", account.settings.stopWin);
        changeInputValue("stopLoss", account.settings.stopLoss);
        changeInputValue("maxBet", account.settings.maxBet);   
        
        changeInputValue("golsFilter", account.filters.golsFilter[0]);
        changeInputValue("golsFilter1", account.filters.golsFilter[1][0]);
        changeInputValue("golsFilter2", account.filters.golsFilter[1][1]);
        changeInputValue("maxTime", account.filters.maxTime);
        changeInputValue("minOdd", account.filters.minOdd);   

        document.getElementById("golsFilter"
            ).checked = account.filters.golsFilter[0]
    }

    const inputs = document.querySelectorAll(".config input");
    inputs.forEach(input => {
        input.addEventListener('focusout', function(input) {
            const account = JSON.parse(localStorage.getItem('account'));
            const valor = input.target.value;
            const id = input.target.id;''
            if (["golsFilter", "golsFilter1", "golsFilter2"].includes(id)) {
                switch (id) {
                    case "golsFilter1":
                        account.filters.golsFilter[1][0] = parseInt(valor);
                        break;
                    case "golsFilter2":
                        account.filters.golsFilter[1][1] = parseInt(valor);
                        break
                    default:
                        account.filters.golsFilter[0] = input.target.checked;
                }
            } else if (["maxTime", "minOdd"].includes(id)) {
                account.filters[id] = parseFloat(valor);
            } else {
                account.settings[id] = parseFloat(valor.replace("R$", ""));
            }
            localStorage.setItem("account", JSON.stringify(account));
        })
    })

    load_config();
</script>