<section class="config">

    <ul>
        <li>
            <div>
                <h3> Stop Win </h3>
                <p> Valor máximo de ganho por dia </p>
            </div>
            <input type="text" placeholder="R$0,00" oninput = "moneyFormatter(this)">
        </li>
        <li>
            <div>
                <h3> Stop Loss </h3>
                <p> Valor máximo de perda por dia </p>
            </div>
            <input type="text" placeholder="R$0,00" oninput = "moneyFormatter(this)">
        </li>
        <li>
            <div>
                <h3> Máximo de Gales </h3>
                <p> Se perder, máximo de vezes que irá aumentar a aposta </p>
            </div>
            <input type="text" placeholder="Ex: 2" oninput = "intFormatter(this)">
        </li>
        <li>
            <div>
                <h3> Máximo de operações </h3>
                <p> Máximo de operações simultâneas </p>
            </div>
            <input type="text" placeholder="Ex: 4" oninput = "intFormatter(this)">
        </li>
        <li>
            <div>
                <h3> Máximo de tempo </h3>
                <p> Tempo de partida mínimo para se operar </p>
            </div>
            <input type="text" placeholder="Ex: 45" oninput = "intFormatter(this)">
        </li>
        <li>
            <div>
                <h3> Odd mínimo </h3>
                <p> Valor multiplicativo mínimo para uma aposta </p>
            </div>
            <input type="text" placeholder="Ex: 1.5" oninput = "floatFormatter(this)">
        </li>
        <li class = "gols">
            <div>
                <h3> Filtro de gols </h3>
                <p> Quantos gols são necessários para se operar </p>
            </div>
            <div>
                <h3 for="gol-filter"> Ativar filtro </h3>
                <input type="checkbox" name="gol-filter" id="gol-filter">
            </div>
            <div class = "between">
                <input type="text" placeholder="Casa" oninput = "intFormatter(this)">
                X
                <input type="text" placeholder="Visitante" oninput = "intFormatter(this)">
            </div>
        </li>
    </ul>

</section>