<section class = "operation">
</section>

<script>
    function createLabel(id, text) {
        const label = document.createElement("label");
        const input = document.createElement("input");
        const span = document.createElement("span");
        
        input.setAttribute("id", id);
        input.setAttribute("type", "checkbox");
        input.addEventListener("click", handleSelect)
        span.textContent = text;

        label.appendChild(input);
        label.appendChild(span);

        return label;
    }

    function createDiv(local, element) {
        const div = document.createElement('div');
        const h3 = document.createElement('h3');
        const divContainer = document.createElement('div');
        
        divContainer.className = 'options-container';
        h3.textContent = element.name;

        element.chooses.forEach(choice => {
            const label = createLabel(
                element.name + '|' + choice, choice);
            const input = label.children[0];
            input.setAttribute("searchtype", "options")
            divContainer.appendChild(label);
        })

        div.appendChild(h3);
        div.appendChild(divContainer);
        local.appendChild(div);
    }

    function createTable(local, element) {
        const div = document.createElement('div');
        const h3 = document.createElement('h3');
        const table = document.createElement('table');
        
        const titles = document.createElement('tr');
        const columns = document.createElement('tr');

        h3.textContent = element.name;

        element.titles.forEach(title => {
            const th = document.createElement('th');
            th.textContent = title;
            titles.appendChild(th);
            
            const td = document.createElement('td');
            const input = document.createElement('input');

            if (element.onInput === golsFormatter | element.onInput === handicapFormatter) {
                input.setAttribute('searchtype', "table2")
            } else {
                input.setAttribute('searchtype', "table1")
            }

            input.onchange = handleChange;
            input.addEventListener('input', function() {
                element.onInput(input) })
            input.addEventListener('focusout', function(input) {
                const valor = input.target.value;
                if (valor.replaceAll("+", "").replaceAll("-", "") === "") {
                    removeBet(element.name);
                } else {
                    addBet(element.name, `${title} ${valor}`);
                }
            })
            input.placeholder = element.placeholder;
            input.setAttribute("id", element.name + '|' + title);
            input.setAttribute("maxlength", element.max + 1);
            input.setAttribute("type", "text");
            td.appendChild(input);
            columns.appendChild(td);
        })

        table.appendChild(titles);
        table.appendChild(columns);
        div.appendChild(h3);
        div.appendChild(table);
        local.appendChild(div);
    }

    function createPredefined(local, element) {
        const div = document.createElement('div');
        const h3 = document.createElement('h3');
        const table = document.createElement('table');
        
        const titles = document.createElement('tr');
        const columns = document.createElement('tr');

        h3.textContent = element.name;
        element.rows.forEach(row => {
            const th = document.createElement('th');
            th.textContent = row;
            titles.appendChild(th);
            
            const td = document.createElement('td');
            td.style.display = "table-cell";
            td.className = "options-container"
            element.titles.forEach(title => {
                const label = createLabel(
                    `${element.name}|${title}`, title)
                const input = label.children[0];

                input.setAttribute("searchtype", "table3")
                input.setAttribute("name", row);
                input.removeEventListener('click', handleSelect);
                input.addEventListener('click', () => {
                    handleSelecTable(input);
                });
                td.appendChild(label);
            })
            columns.appendChild(td);
        })

        table.appendChild(titles);
        table.appendChild(columns);
        div.appendChild(h3);
        div.appendChild(table);
        local.appendChild(div);
    }

    function generateOptions() {
        const opcionais = [
            { name: 'Resultado Final', chooses: ["casa", "Empate", "fora"] },
            { name: 'Dupla Hipótese', 
              chooses: ["casa ou Empate", "Empate ou fora", "casa ou fora"] },
            { name: 'Para se Classificar', chooses: ["casa", "fora"]}, 
            { name: 'Intervalo - Resultado', chooses: ["casa", "Empate", "fora"] },
            { name: 'Xº Gol', chooses: ["casa", "Sem Xº gol", "fora"] },
            { name: '2º Tempo - Para Ganhar', chooses: ["casa", "Empate", "fora"]},
            { name: 'Jogo Ganho na Prorrogação', chooses: ['Sim', 'Não']},
            { name: 'Jogo Ganho Após os Pênaltis', chooses: ['Sim', 'Não']},
            { name: 'Empate Anula a Aposta', chooses: ['casa', 'fora'] },
            { name: 'Mais Escanteios', chooses: ['casa', 'Empate', 'fora'] },
            { name: 'Último Time a Marcar', chooses: ['casa', 'Sem Gols', 'fora'] },
            { name: 'Gols Ímpar/Par', chooses: ['Ímpar', 'Par'] },
            { name: '1° Tempo - Para Ambos os Times Marcarem', chooses: ['Sim', 'Não'] },
            { name: 'Para Ambos os Times Marcarem', chooses: ['Sim', 'Não'] },
            { name: '2° Tempo - Para Ambos os Times Marcarem', chooses: ['Sim', 'Não'] },
            { name: '2° Tempo - Para Ganhar', chooses: ['casa', 'Empate', 'fora'] },
            { name: 'Intervalo / Final do Jogo', chooses: ['casa - casa', 'casa - Empate', 
                'casa - fora', 'Empate - casa', 'Empate - Empate', 'Empate - fora', 
                'fora - casa', 'fora - Empate', 'fora - fora']} 
        ]

        const maisMenos = ['Mais de', 'Menos de']
        const exatamente = ['Mais de', 'Exatamente', 'Menos de']
        const casaFora = ['casa', 'fora']
        const tables = [
            { 
                name: 'Partida - Gols', titles: maisMenos, max: 3, 
                onInput: floatFormatter, placeholder: "Ex: 1.5" },
            { 
                name: 'Partida - Gols - Mais Opções', titles: maisMenos, 
                max: 3, onInput: floatFormatter, placeholder: "Ex: 0.5" },
            { 
                name: 'Encontro - Escanteios', titles: exatamente, 
                max: 2, onInput: intFormatter, placeholder: 'Ex: 5' },
            { 
                name: 'Escanteios - 2 Opções', titles: maisMenos, max: 3, 
                onInput: floatFormatter, placeholder: "Ex: 6.5" },
            { 
                name: '1° Tempo - Escanteios', titles: exatamente, 
                max: 2, onInput: intFormatter, placeholder: 'Ex: 1' },
            { 
                name: '2° Tempo - Escanteios', titles: exatamente, 
                max: 2, onInput: intFormatter, placeholder: 'Ex: 0' },
            { 
                name: 'Handicap Asiático (X-X)', titles: casaFora, max: 9,
                onInput: handicapFormatter, placeholder: "Ex: 0.0,+0.5" },
            { 
                name: 'Gols +/- (X-X)', titles: maisMenos, max: 7,
                onInput: intervalFormatter, placeholder: "Ex: 0.5,1.0" },
            { 
                name: 'Resultado Correto', titles: [1, "X", 2], max: 3,
                onInput: golsFormatter, placeholder: "Ex: 1-0" },
            { 
                name: 'Escanteios Asiáticos', titles: maisMenos, max: 3, 
                onInput: floatFormatter, placeholder: "Ex: 4.5" },
            { 
                name: 'Escanteios - Primeiro a Cobrar', titles: ['casa', 'fora', 'Nenhum'], 
                max: 2, onInput: intFormatter, placeholder: 'Ex: 9' },
            { 
                name: 'Número de Cartões', titles: maisMenos, max: 3, 
                onInput: floatFormatter, placeholder: "Ex: 3.5" },
            { 
                name: 'Handicap - 3 Opções', titles: ['casa', 'Empate', 'fora'], 
                max: 2, onInput: handicapFormatter, placeholder: "Ex: +3" },
            { 
                name: '1° Tempo - Handicap', titles: ['casa', 'Empate', 'fora'], 
                max: 2, onInput: handicapFormatter, placeholder: "Ex: +2" },
            { 
                name: 'casa - Golos', titles: maisMenos, max: 3, 
                onInput: floatFormatter, placeholder: "Ex: 1.5" },
            { 
                name: 'fora - Golos', titles: maisMenos, max: 3, 
                onInput: floatFormatter, placeholder: "Ex: 2.5" },
            { 
                name: 'Total de Gols - X° Tempo', titles: maisMenos, 
                max: 2, onInput: floatFormatter, placeholder: 'Ex: 0.5' },
            { 
                name: '1ª Parte - Handicap Asiático (X-X)', titles: casaFora, 
                max: 9, onInput: handicapFormatter, placeholder: "Ex: 0.0,-0.5" },
            { 
                name: '1ª Parte - Gols +/- (X-X)', titles: maisMenos, max: 7,
                onInput: intervalFormatter, placeholder: "Ex: 2.5,3.0" },
            { 
                name: 'Resultado Correcto - Intervalo', titles: [1, "X", 2], 
                max: 3, onInput: golsFormatter, placeholder: "Ex: 4-1" },
            { 
                name: '1° Tempo - Escanteios Asiáticos', titles: maisMenos, 
                max: 2, onInput: intFormatter, placeholder: 'Ex: 3' },
            { 
                name: 'Resultado do Jogo - Tempo', titles: ["casa", "Empate", "fora"],
                max: 5, onInput: timeFormatter, placeholder: "10:00 - 80:00"},
            { 
                name: 'Hora do X° Gol', max: 5, onInput: timeFormatter,
                titles: ["Gol antes do minuto", "Sem Gol antes do minuto"], 
                placeholder: "10:00 - 80:00"},
            { 
                name: 'Hora do X° Gol - casa', max: 5, onInput: timeFormatter,
                titles: ["Gol antes do minuto", "Sem Gol antes do minuto"], 
                placeholder: "10:00 - 80:00"},
            { 
                name: 'Hora do X° Gol - fora', max: 5, onInput: timeFormatter,
                titles: ["Gol antes do minuto", "Sem Gol antes do minuto"], 
                placeholder: "10:00 - 80:00"},
        ]
        
        const predefined = [
            { 
                name: 'Método de Vitória', titles: casaFora, rows: ["Ganhar em 90 minutos", 
                "Para Ganhar na Prorrogação", "Para Ganhar Após os Pênaltis"]},
            { 
                name: 'Escanteios', titles: ["Xº Canto", "Último"], rows: casaFora},
            { 
                name: "Resultado/Para Ambos os Times Marcarem", 
                titles: ["Sim", "Não"], rows: ["casa", "fora", "Empate"]},
            { 
                name: "Próximos 10 Minutos (XX:XX - XX:XX)", titles: maisMenos, 
                rows: ["Gols", "Escanteios"]}
        ]

        const local = document.querySelector('section.operation');
        
        opcionais.forEach(element => {
            createDiv(local, element);
        })

        tables.forEach(element => {
            createTable(local, element);
        })
        
        predefined.forEach(element => {
            createPredefined(local, element);
        })
    }

    function load_searches() { 
        function regexExp(string) {
            const palavra =  string.replaceAll(
                /[.*+?^${}()|[\]\\\/: ]/g, '\\$&')
                .replace(/\d°/g, "\\3$&"); 
            return palavra
        }
        const account = JSON.parse(localStorage.getItem('account'));
        
        account.search.forEach(element => {
            var betName = element[0];
            if (typeof(element[1]) == "string") {
                document.querySelector(
                    regexExp(`#${betName}|${element[1]}`)
                ).checked = true;
            } else {
                document.querySelector(
                    regexExp(`#${betName}|${element[1][0]}`)
                ).value = element[1][1];
            }
        })
    }

    generateOptions();
    load_searches();
    $(function(){
        $("body > div").load("components/wallet.html"); 
    });
</script>