<section class = "welcome">
    <div>
        <h1> Automatize suas apostas <br> com o BetBot </h1>
        <h2> Automatize estratégias em galgos, cavalos, futebol e tênis todos os dias. </h2>
        <h2> Mesmo enquanto está fora no trabalho! </h2>
    </div>

    <div>
        <h3> O que é BetBot? </h3>
        <p> 
            BetBot é um software de solução que é executado em seu computador e se conecta aos servidores Bet365. O bot se moverá sequencialmente através dos eventos do momento que foram carregados dependendo de suas seleções e critérios definidos.
        </p>
        <p>
            Ele só fará apostas se as probabilidades, número de corredores e outros critérios estiverem com no seu intervalo definido. Se uma seleção não se encaixar em suas faixas, uma aposta não será feita e o software passará para a próxima.
        </p>
    </div>

    <div class = 'gray'>
        <h2> Qual o momento ideal para apostar em <br> escanteios? </h2>
        <img src="images/corner-kick.svg" alt="Corner kick">
        <h4> Crie um robô com sua própria configuração para receber alertas </h4>
        <ul>
            <li> Me alerte quando um time muito favorito estiver perdendo e pressionando </li>
            <li> Me alerte quando um jogo estiver com mais de 10 escanteios </li>
            <li> Me alerte quando um jogo chegar aos 80 minutos empatado e com mais de 20 escanteios </li>
        </ul>
    </div>

    <div>
        <h2> Não perca nenhuma abertura de <br> campeonato! </h2>
        <img src="images/open.svg" alt="Open board">
        <p> 
            Não se preocupe mais em monitorar a abertura dos campeonatos, nós faremos isso para você! 
        </p>
        <p> 
            Selecione o campeonato, escolha a casa de aposta e receba os alertas de abertura no seu celular. 
        </p>
        <p> Não perca as melhores cotações do mercado. </p>
    </div>
</section>
<script>
    $(function(){
        $("body > div").empty(); 
    });
</script>