<nav>
    <button onClick = "operation()"> Operação </button>
    <button onClick = "configuration()"> Configurações </button>
    <img src="images/logo.svg" alt="logo betbot" onClick = "welcome()">
    <a href="https://t.me/JDaniloC" class = "logout"> 
        Comprar licença 
    </a>
    <button class = "logout" onClick="open_login()"> 
        Login 
    </button>
    
    <a href="https://t.me/JDaniloC" class="login">
        Se afiliar
    </a>
    <div class="login" onClick = "toggle_user_container()">
        <img 
            src="images/user.svg" alt="user icon">
        <p id = "actual_value2"> R$0,00 </p>
    </div>
</nav>

<div class="login-container" onload="loaded()">
    <div class="blur" onClick="close_login()"></div>
    <div class="login-panel">
        <div class="username">
            <input 
                type="text" 
                placeholder="Usuário" 
                autocapitalize="off" 
                autocomplete="off" 
                autocorrect="off"
                id = "username"
            >
            <button class="clear" onClick="cleanup_username()">
                <img src="images/x.svg"></img>
            </button>
        </div>
        <div class="password">
            <input 
                type="password" 
                placeholder="Senha" 
                autocapitalize="off" 
                autocomplete="off" 
                autocorrect="off"
                id = "password"
            >
        </div>  
        <button class = "green-btn" onClick="handle_login()"> 
            Login 
        </button>
    </div>
</div>

<div class="user-container">
    <section class="values">
        <button>
            <a class="beauty-btn" href="https://t.me/JDaniloC">
                Renovar licença
            </a>
        </button>
        <div class="values">
            <p> Saldo original </p>
            <p id = "original_value"> R$0,00 </p>
        </div>
        <div class="values">
            <p> Saldo atual </p>
            <p id = "actual_value"> R$10,00 </p>
        </div>
    </section>
    <section class="business">
        <div class="date">
            <p> licença desde </p>
            <p id = "from_date"> 25/10/2020 </p>
        </div>
        <div class="date">
            <p> licença até </p>
            <p id = "to_date"> 30/10/2020 </p>
        </div>
        <button class="beauty-btn" onClick = "logout()">
            Sair
        </button>
    </section>
</div>

<script>
    if (localStorage.getItem('account')) {
        login(JSON.parse(localStorage.getItem('account')))
    }
</script>