section.config {
    padding: 1em 3em;
    font-size: larger;
}

section.config ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}

section.config li {
    display: flex;
    flex: 1 1 49%;
    align-items: center;
    justify-content: space-between;

    padding: 1em;
    margin: 0.5em;
    max-width: 20em;
    background: #f0f0f0;
}

section.config li h3 {
    font-size: 15px;
    color: #404040;
    line-height: 18px;
    padding: 0px 15px 0px 0;
    white-space: normal;
    font-weight: 400;
}

section.config li p {
    font-size: 11px;
    color: #666;
    line-height: 16px;
    padding-right: 11px;
}

section.config li input {
    text-align: center;
    max-width: 12em;
    height: 18px;
    padding: 1em;
    font-size: 15px;
}

section.config li.gols {
    flex-wrap: wrap;
    justify-content: center;
}

section.config li.gols label {
    font-size: 15px;
    color: #404040;
}

section.config li.gols div {
    flex: 1 1 49%;
    align-items: center;
    margin-bottom: 0.5em;
}

section.config li.gols div + div {
    display: flex;
    justify-content: center;
}

section.config li.gols div.between {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
}

section.config li.gols div.between input {
    max-width: 8em;
}