header {
    background-color: #126e51;
    width: 100vw;
    position: fixed;
    height: 50px;
    z-index: 20;
}

header nav {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
}

header nav img {
    padding: 1em;
    cursor: pointer;
}

header nav button, header nav a {
    cursor: pointer;
    font-size: 14px;

    color: #e4e4e4;
    background-color: #126e51;
    text-decoration: none;
    border: none;
}

header nav button:hover, header nav a:hover {
    color: #26ffbe;
}

header nav .login {
    display: none;
}

header nav div.login {
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 11px;
    cursor: pointer;
}

header nav div.login img {
    padding: 0;
    width: 22px;
    height: 22px;
}